<!doctype html>
<html>
<head>
	<title>To-Do App</title>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/todo.client.js"></script>
	<script src='http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable'>
	</script>
	<script type="text/javascript" src="js/my.content.script.js"></script>
</head>
<body ng-app = "main">
	<div ng-controller="TodoCtrl">
		
		<div id= "todoapp">
			<center><h1 id="heading">TO-DO APP</h1></center>
			<center>
				<form class="pure-form">
				    <fieldset class="pure-group">
				    	<input type="email" ng-model= 'emailInput' class="pure-input-1-3" placeholder="Email">
				        <input type="password" ng-model = 'passwordInput' class="pure-input-1-3" placeholder="Password">
				    </fieldset>
				    <button type="submit" ng-click = "createUser()" class="pure-button pure-button-primary">Sign Up</button>
				    <button type="submit" ng-click = "startSession()" class="pure-button pure-button-primary">Sign In</button>
				</form>	
			</center>
		</div>
		
		<div id="todolist">
			<center>
				<h1 id="heading">TO-DO LIST</h1>
				You've got <span class="emphasis">{{getTotalTodos()}}</span> things on your list!
				<br><br>
				<form class="pure-form">
				    <fieldset>
				        <input type="text" ng-model="createMe" class="pure-input-1-2" placeholder="What is to be done?">
				        <button type="submit" ng-click="createTodo()" class="pure-button pure-button-primary">Add</button>
				    </fieldset>
				</form>
				<ul ui-sortable ng-model="items">
  					<li ng-repeat="item in items">
  							<input ng-model="item.is_complete" type="checkbox"  ng-change="updateTodo({{item}})">
  							<span>{{item.description}}</span>
  					</li>
				</ul>
				<form class="pure-form">
				    <fieldset>
				    	<button type="submit" ng-click="toggleMarkAll()" class="pure-button pure-button-primary">Mark All as Read</button>
				        <button type="submit" ng-click="clearTodos()" class="pure-button pure-button-primary">Clear Screen</button>
				        <button type="submit" ng-click="goBackFromList()" class="pure-button pure-button-primary">Login Again</button>
				    </fieldset>
				</form>
			</center>
		</div>
	
	</div>
</body>
</html>